/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/*----- VARIABLES CSS -----*/
/*Varibles en general*/
/*Colores*/
:root {
  --first-color: #fcd0b1;
  --text-color: #B7B7B7;
  --bg-color: #000000;
  --white-color: #fff;
  --icon-color: #ff8000; 
  --footer-color: #151515;
}

/*Fuente y Tipografia*/
:root {
  --body-font: 'Roboto', sans-serif;
  --logo-font: 'Pacifico', cursive;
  --h1-font: 'Poiret One', cursive;
  --big-font-size: 3rem;
  --h2-font-size: 1.25rem;
  --title-font-size: 1.5rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.8rem;
  --smaller-font-size: 0.6rem; 
}
  @media screen and (min-width: 768px) {
    :root {
      --big-font-size: 6rem;
      --h2-font-size: 1.5rem;
      --normal-font-size: 1rem; 
    } 
}

/*z index*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000; 
}

/* Base */

*, ::before, ::after {
  /*ajustes de tamaño */
  box-sizing: border-box;
  -webkit-box-sizing: border-box; 
  /* Scroll lento */
  scroll-behavior: smooth;
  /* Reseteo margenes */
  margin: 0;
  padding: 0;
}

/* Scrollbar */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--icon-color) var(--bg-color);
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--bg-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--icon-color);
  border-radius: 10px;
  border: 3px solid var(--bg-color);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  border: 3px solid var(--icon-color);
}

/* Configuracion basica */

body {
  margin: 3rem 0 0 0;
  font-family: var(--body-font);
  font-weight: initial;
  background-color: var(--bg-color);
  color: var(--white-color);
}

h1, h2, h3 {
  margin: 0;
  
}

ul {
  margin: 0;
  padding: 0;
  list-style: none; 
}

a {
  text-decoration: none; 
}

img {
  max-width: 100%;
  height: auto; 
}

p {
  font-size: var(--normal-font-size); 
}

/* Botones */
.btn {
  padding: 0.75rem 1.5rem;
  border: 2px solid var(--white-color);
  background-color: var(--bg-color);
  color: var(--white-color);
  cursor: pointer;
  margin-top: 1rem;
}

.btn:hover{
  padding: 0.75rem 1.5rem;
  border: 2px solid var(--white-color);
  background-color: var(--icon-color);
  color: var(--bg-color);
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

/* Cabecera */

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--bg-color);
  color: var(--first-color);
  z-index: var(--z-fixed); 
  border-bottom: 1px solid var(--icon-color);
}

/* Barra navegacion */
.nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold; 
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--bg-color);
    width: 100%;
    height: 40%;
    padding: 2rem;
    box-shadow: 10px 10px 10px var(--bg-color);
    transition: .5s; 
  } 
}

.nav__list {
  text-align: center; 
}

.nav__item {
  margin-bottom: 1.5rem; 
}

.nav__link {
  padding: .5rem;
  color: var(--text-color); 
}

.nav__link:hover {
  color: var(--first-color); 
}

.nav__logo {
  font-size: var(--title-font-size); 
  font-family: var(--logo-font);
  color: var(--text-color);
  margin-left: 10px;
}

.nav__toggle {
  font-size: 1.5rem;
  cursor: pointer; 
  margin-right: 10px;
}

/* Aparecer menu */
.show {
  top: 3rem; 
}

/* Home */
.home {
  position: relative;
  height: 50vh;
  justify-content: center;
  padding-bottom: 2rem; 
  background-image: url("/assets/img/tres-3.jpg");
  background-color: var(--bg-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.home__title {
  position: absolute;
  font-size: var(--big-font-size);
  color: var(--text-color);
  top: 10%;
  left: 1%;
  text-align: center; 
  font-family: var(--h1-font);
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
}

.home__h3{
  position: absolute;
  font-size: var(--title-font-size);
  color: var(--text-color);
  top: 30%;
  left: 3%;
  text-align: center; 
  font-family: 'Poiret One', cursive;
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
  text-decoration: underline;
}

.home__button {
  position: absolute;
  top: 75%;
  left: 3%;
  z-index: var(--z-normal); 
  background-color: transparent;
}

.home__info {
  position: absolute;
  top: 75%;
  right: 3%;
  z-index: var(--z-normal); 
  background-color: transparent;
}

.home__subtitle {
  font-size: var(--h2-font-size);
  color: var(--white-color); 
}

.home__down, 
.home__share {
  display: none;
}

.home__down:hover, 
.home__share:hover {
  color: var(--white-color)
}

.home__down:hover {
  animation: infinite animation__home__down .6s;
  -webkit-animation: infinite animation__home__down .6s;
}

@keyframes animation__home__down {
  0% {
      transform: translate(0);
      -webkit-transform: translate(0);
      -moz-transform: translate(0);
      -ms-transform: translate(0);
      -o-transform: translate(0);
  }
  20% {
      transform: translateY(-6px);
      -webkit-transform: translateY(-6px);
      -moz-transform: translateY(-6px);
      -ms-transform: translateY(-6px);
      -o-transform: translateY(-6px);
  }
  40% {
      transform: translate(0);
      -webkit-transform: translate(0);
      -moz-transform: translate(0);
      -ms-transform: translate(0);
      -o-transform: translate(0);
  }
  60% {
      transform: translateY(-3px);
      -webkit-transform: translateY(-3px);
      -moz-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
      -o-transform: translateY(-3px);
  }
  80% {
      transform: translate(0);
      -webkit-transform: translate(0);
      -moz-transform: translate(0);
      -ms-transform: translate(0);
      -o-transform: translate(0);
  }
}

/* Titulos */
.section__title {
  color: var(--first-color);
  font-size: var(--h2-font-size);
  text-align: center;
  padding: 1rem;
  padding-top: 5rem;
}

/* Especificaciones */
.specs__parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
  
.specs__1 { 
  grid-area: 1 / 1 / 3 / 6; 
}

.specs__2 { 
  grid-area: 3 / 1 / 5 / 6; 
}

.specs__title {
  position: relative;
  font-size: var(--big-font-size);
  color: var(--white-color);
}

.specs__img {
  position: relative;
  width: 100%;
}

.specs__information {
  padding-left: 4.25rem;
  padding-right: 2rem;
  padding-bottom: 5rem;
  color: var(--text-color); 
}

.specs__subtitle {
  font-size: var(--h2-font-size);
  color: var(--first-color); 
}

/* Cajas especificaciones */
.icon-box {
  color: var(--icon-color);
  font-size: 3rem; 
}

.icon-box--small {
  font-size: 1rem; 
}

.box {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem; 
}

.box__dark {
  background-color: var(--bg-color);
  color: var(--text-color);
  text-align: center; 
}

.box__medium {
  width: 150px;
  height: 250px;
  padding: 1.5rem .75rem;
  margin-right: 2rem; 
}

.box__medium-title {
  font-size: 3rem;
  color: var(--white-color); 
}

.box__medium-description {
  font-size: var(--normal-font-size);
  margin-bottom: .5rem; 
}

.box__medium-detail {
  font-size: var(--small-font-size); 
}

.box__small {
  width: 70px;
  height: 100px;
  padding: .75rem 0;
  margin-bottom: .625rem; 
}

.box__small-title {
  font-size: var(--small-font-size);
  color: var(--white-color); 
}

.box__small-detail {
  font-size: var(--smaller-font-size); 
}

/* Caracteristicas */

.features {
  text-align: center;
}

.features {
  display: flex;
  justify-content: center;
}

table {
  width: 100%;
  overflow-x: auto;
  text-align: left;
}

th {
  border-bottom: 2px solid var(--white-color);
  padding: 1.2rem;
  text-align: center;
}

td {
  border-bottom: 2px solid rgb(72, 72, 72);
  padding: 1.2rem;
}

/* Video */

.video__container {
  position: relative;
  width: 100%;
  height: 0;
  margin-top: 5rem;
  padding-bottom: 56.25%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Reservar */

.reserve__content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.reverse__div2 { 
  padding: 2rem;
}

/* Footer */

.footer {
  width: 100%;
  padding: 1.5rem 15%;
  background-color: var(--footer-color);
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.footer div {
  text-align: center;
}
.footer div ul{
  text-align: center;
}

.col-2 {
  flex-grow: 2;
}

.footer div h3 {
  font-weight: 300;
  margin-bottom: 30px;
  color: var(--first-color);
}

.col-1 a{
  display: block;
  text-decoration: none;
  color: var(--text-color);
  margin-bottom: 10px;
}

.link__item a{
  color: var(--white-color)
}

.link__item a:hover{
  color: var(--icon-color)
}

.contact__info {
  color: var(--white-color);
  margin: 10px;
}

.contact__info:hover {
  color: var(--icon-color);
}

.email {
  width: 75%;
  height: 45px;
  text-align: center;
  margin-top: .5rem;
  margin-bottom: 1rem;
  outline: none;
  border: 2px solid var(--white-color);
  background-color: var(--bg-color);
}

.email:focus {
  border: 2px solid var(--icon-color);
  background-color: var(--bg-color);
  color: var(--white-color);
}

.social__icons {
  margin-top: 1rem;
}

.social__icons i{
  font-size: 30px;
  margin: .5rem;
  cursor: pointer;
  color: var(--white-color);
}

.social__icons i:hover{
  color: var(--icon-color)
}

.copy {
  text-align: center;
  padding: 1rem 0 1rem 0;
}

/* Pantalla grande */

@media screen and (min-width: 768px) {
  body {
    margin: 0; 
  }

  .main {
    height: 100%;
    padding: 0; 
  }

  .nav__list {
    display: flex; 
  }

  .nav__item {
    margin-right: 2rem;
    margin-bottom: 0; 
  }

  .nav__toggle {
    display: none; 
  }

  .home {
    height: 100vh;
    justify-content: center;
    padding-bottom: 2rem; 
    width: 100%;
  }

  .home__title {
    top: 10%;
    left: 3%;
    text-align: center; 
  }

  .home__information {
    padding: 0; 
  } 

  .home__info {
    position: absolute;
    top: 50%;
    left: 3%;
    right: inherit;
    z-index: var(--z-normal); 
    background-color: transparent;
  }

  .home__button {
    position: absolute;
    top: 40%;
    left: 3%;
    right: inherit;
    z-index: var(--z-normal); 
    background-color: transparent;
  }

  .home__down {
    position: absolute;
    display: block;
    top: 85%;
    right: inherit;
    left: 5%;
    font-size: 2.5rem;
    color: var(--text-color);
    text-align: center; 
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
    text-decoration: underline;
  }

  .home__share {
    position: absolute;
    display: block;
    top: 85%;
    right: 5%;
    left: inherit;
    font-size: 2.5rem;
    color: var(--text-color);
    text-align: center; 
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
    text-decoration: underline;
  }

  .specs__description {
    width: 50%;
  }

  .specs__parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
    
  .specs__1 { 
    grid-area: 1 / 1 / 2 / 4; 
  }
  .specs__2 { 
    grid-area: 1 / 4 / 2 / 6; 
  }

  .features {
    display: flex;
    justify-content: center;
  }
  
  table {
    width: 50%;
  }

  .reserve__content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
    
  .reverse__div1 { 
    grid-area: 1 / 3 / 2 / 6; 
  }
  .reverse__div2 { 
    grid-area: 1 / 1 / 2 / 3; 
    padding: 2rem;
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .footer div ul{
    text-align: center;
  }
}